html {
  min-height: 100%;
  position: relative;
  margin: 0;
  padding: 0;
}
body {
  margin-bottom: 80px;
}
.navbar {
  background-color: white;
}
.nav-item {
  color: black;
}
.navbar-example {
  position: relative;
}
.containerflex {
  display: flex;
  flex-direction: row;
  /* row | row-reverse |column | column-reverse */
  flex-wrap: wrap;
  /* não quebra, pra quebrar é: wrap, e wrap-reverse deixa uma caixa embaixo da outa*/
  justify-content: space-around;
  /* flex-start | flex-end | center |space-around*/
  align-items: center;
  /* baseline alinha de acordo com o texto | stretch estica o elemento pra todo o espaço disponivel */
  height: 100%;
}
.item {
  font-size: 25px;
  height: 180px;
  margin: 5px;
  width: 180px;
}
a {
  color: white;
}
h1,
h2,
h4 {
  text-align: center;
  color: black;
}
h3 {
  color: white;
}
.textobanner {
  text-align: center;
}
.vermais {
  text-align: center;
}
.icones {
  width: 50%;
  margin-left: 25%;
}
.imgc {
  width: 100%;
}
.carousel-caption {
  background-color: rgba(90, 90, 90, 0.5);
}
.logo2 {
  height: 100%;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}
p {
  text-align: center;
  color: black;
}
.footer {
  background-color: grey;
  color: white;
  bottom: 0;
  position: absolute;
  width: 100%;
  text-align: center;
}
.rodape {
  margin: 1%;
}
h4 {
  font-size: 25px;
  color: #23238E;
}
@media (max-width: 470px) {
  .titulocarousel {
    font-size: 20px;
  }
  .carousel-caption {
    font-size: 12px;
  }
  .icones {
    width: 33%;
    margin-left: 33%;
  }
  h2 {
    font-size: 20px;
  }
  p {
    font-size: 12px;
  }
}
@media (max-width: 319px) {
  .titulocarousel {
    font-size: 15px;
  }
  .nav-item {
    font-size: 8px;
  }
  .carousel-caption {
    font-size: 8px;
  }
}
@media (min-width: 320px) and (max-width: 372px) {
  .nav-item {
    font-size: 12px;
  }
}
